<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uselesssolutions.morse_app_us">
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.flash" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon72"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon72"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".MainActivity"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThirdLook" android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".AboutMorse" android:screenOrientation="portrait"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".toMorseAllFunctions" android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".Pop"
            android:theme="@style/AppTheme.Popup"/>
    </application>

</manifest>